<div class="item">
  <div class="titulo">Url do Avatar</div>
  <div>
    <input type="url" name="avatar_url" placeholder="https://" value="{{teacher.avatar_url}}">
  </div>
</div>
<div class="item">
  <div class="titulo">Nome do professor</div>
  <div>
    <input type="text" name="name" placeholder="Digite o nome completo" value="{{teacher.name}}">
  </div>
</div>
<div class="item">
  <div class="titulo">Data de nascimento</div>
  <div>
    <input type="date" name="birth_date" placeholder="Idade" value="{{teacher.birth_date}}">
  </div>
</div>
<div class="item">
  <div class="titulo">Grau de escolaridade</div>
  <div>
    <select name="education_level">
      <option value="Médio Completo" {% if teacher.education_level == "Médio Completo"%} selected="selected" {%endif%}>Ensino Médio Completo</option>
      <option value="Superior Completo" {% if teacher.education_level == "Superior Completo"%} selected="selected" {%endif%}>Ensino Superior Completo</option>
      <option value="Mestrado" {% if teacher.education_level == "Mestrado"%} selected="selected" {%endif%}>Mestrado</option>
      <option value="Doutorado" {% if teacher.education_level == "Doutorado"%} selected="selected" {%endif%}>Doutorado</option>
    </select>
  </div>
</div>
<div class="item">
  <div class="titulo">Tipo de aula</div>
  <div>
    <span><input type="radio" name="class_type" value="Presencial" {% if teacher.class_type == "Presencial"%} checked="checked" {% endif%}>Presencial</span>
    <span><input type="radio" name="class_type" value="Distância" {% if teacher.class_type == "Distancia"%} checked="checked" {% endif%}>À distância</span>
  </div>
</div>
<div class="item">
  <div class="titulo">Área de atuação</div>
  <div>
    <input type="text" name="subjects_taught" placeholder="Separe os tipos de atuação por virgula" value="{{teacher.subjects_taught}}">
  </div>
</div>
<button type="submit">Salvar</button>