{% extends "layout.njk" %}

{% block content %}
  <div class="card table">
    <table width="100%">
      <thead>
        <tr>
          <th>Nome Completo</th>
          <th>Acompanhamento</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for teacher in teachers%}
          <tr>
            <td>
              <span style="background-image: url({{teacher.avatar_url}})"></span>
              <h4>{{teacher.nome}}</h4>
            </td>

            <td>
              {% for atuacao in teacher.services %}
                <span class="atuacao">{{atuacao}}</span>
              {% endfor %}
            </td>

            <td>
              <a href=" /teachers/{{teacher.id}}">Ver</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      <a href="/teachers/create" class="button">Criar novo Teacher</a>
    </div>
  {% endblock content %}