{% extends "layout.njk" %}

{% block content %}
  <div class="card">
    {# <section class="avatar" style="background: url({{instructor.avatar_url}}) no-repeat center center / cover"></section> #}
    <section class="avatar" style="background: url({{teacher.avatar_url}}) no-repeat center center / cover"></section>
    <section class="informacoes">
      <h3>Detalhes</h3>
      <div class="item">
        <div class="titulo">Nome do professor</div>
        <div>{{teacher.name}}</div>
      </div>
      <div class="item">
        <div class="titulo">Idade</div>
        <div>{{teacher.age}}</div>
      </div>
      <div class="item">
        <div class="titulo">Grau de escolaridade</div>
        <div>{{teacher.education_level}}</div>
      </div>
      <div class="item">
        <div class="titulo">Tipo de aula</div>
        <div>{{teacher.class_type}}</div>
      </div>
      <div class="item">
        <div class="titulo">Acompanhamentos</div>
        <div>
          {% for atuacao in teacher.subjects_taught %}
            <span>{{atuacao}}</span>
          {% endfor %}
        </div>
      </div>
      <div class="item">
        <div class="titulo">Desde</div>
        <div>{{teacher.created_at}}</div>
      </div>
      <a href="/teachers/{{teacher.id}}/edit" class="button">Editar</a>
    </section>
  </div>
{% endblock content %}